<section class="project-section" id="project-section">
  <div class="container">
    <h3 class="project-title">Projects</h3>
    <div class="project-container">
      <div class="project-first-container">
        <div class="project-cirkle-container">
          <ul class="project-circle-list">
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #react
            </li>
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #js
            </li>
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #node js
            </li>
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #git
            </li>
          </ul>
        </div>

        <h3 class="project-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>

        <button
          class="project-btn"
          onclick="window.open('https://mtsiuniak.github.io/headliner-2024/', 
            '_blank')"
        >
          See project
        </button>
      </div>

      <div class="project-swiper-container">
        <div class="project-swiper-wrapper">
          <div class="project-swiper-slide">
            <img
              src="./img/project1.png"
              alt="Image 1"
              width="311"
              height="195"
            />
          </div>
          <div class="project-swiper-slide">
            <img src="../img/project2.png" alt="Image 2" />
          </div>
          <div class="project-swiper-slide">
            <img src="../img/project3.png" alt="Image 3" />
          </div>
        </div>
      </div>
    </div>
    <div class="project-swiper-pagination"></div>
    <div class="project-arrow-container">
      <ul class="project-arrow-list">
        <li class="project-arrow-item">
          <svg class="project-arrow" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-left-dark"></use>
          </svg>
        </li>
        <li class="project-arrow-item">
          <svg class="project-arrow" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-right-white"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
