<section class="project-section" id="project-section">
  <div class="container">
    <h3 class="project-title">Projects</h3>
    <div class="project-container">
      <div class="project-first-container">
        <div class="project-cirkle-container">
          <ul class="project-circle-list">
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #react
            </li>
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #js
            </li>
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #node js
            </li>
            <li class="project-circle-item">
              <p class="project-circle"></p>
              #git
            </li>
          </ul>
        </div>

        <h3 class="project-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>

        <button
          class="project-btn"
          onclick="window.open('https://mtsiuniak.github.io/headliner-2024/', 
            '_blank')"
        >
          See project
        </button>
      </div>

      <div class="project-swiper-container">
        <div class="project-swiper-wrapper">
          <div class="project-swiper-slide">
            <picture>
              <source
                media="(min-width:768px)"
                srcset="
                  ./img/desktop&tablet/project-tab-desk1.jpg    1x,
                  ./img/desktop&tablet/project-tab-desk1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/mobile/project1mob.jpg    1x,
                  ./img/mobile/project1mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/mobile/project1mob.jpg"
                alt="Image 1"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="project-swiper-slide">
            <picture>
              <source
                media="(min-width:768px)"
                srcset="
                  ./img/desktop&tablet/project-tab-desk2.jpg    1x,
                  ./img/desktop&tablet/project-tab-desk2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/mobile/project2mob.jpg    1x,
                  ./img/mobile/project2mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/mobile/project2mob.jpg"
                alt="Image 2"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="project-swiper-slide">
            <picture>
              <source
                media="(min-width:768px)"
                srcset="
                  ./img/desktop&tablet/project-tab-desk3.jpg    1x,
                  ./img/desktop&tablet/project-tab-desk3@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ./img/mobile/project3mob.jpg    1x,
                  ./img/mobile/project3mob@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="../img/mobile/project3mob.jpg"
                alt="Image 1"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="project-swiper-pagination"></div>
    <div class="project-arrow-container">
      <ul class="project-arrow-list">
        <li class="project-arrow-item">
          <a class="project-arrow-accent" href="">
            <svg class="project-arrow" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow-left-dark"></use></svg
          ></a>
        </li>
        <li class="project-arrow-item">
          <a class="project-arrow-accent" href="">
            <svg class="project-arrow" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow-right-white"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
