<section class="project-section">
  <div class="project-swiper-container">
    <div class="project-swiper-wrapper">
      <div class="project-swiper-slide">Project 1</div>
      <div class="project-swiper-slide">Project 2</div>
      <div class="project-swiper-slide">Project 3</div>
    </div>

    <div class="project-swiper-pagination"></div>
    <!-- Navigation buttons -->
    <div class="project-swiper-button-prev">Prev</div>
    <div class="project-swiper-button-next">Next</div>
  </div>
</section>
